version: '3.8'

services:
  calculator:
    build: .
    image: ocaml-calculator:latest
    container_name: ocaml-calculator
    stdin_open: true
    tty: true
    volumes:
      - .:/app
    working_dir: /app
    command: dune exec ./bin/main.exe
